<% include ./header.ejs %>
    <table class="table table-bordered table-hover">
        <%user.forEach(function(user){%> 

        
            <td>
                <%=user.displayname%>
            </td>
            
        <%})%>
        
        


    </table>


<% include ./footer.ejs %>