<% include ./header.ejs %>
    <table class="table table-bordered table-hover">

        
            <td>
                닉네임 : <%=user.displayname%>
            </td>
    </table>

        </br>
        </br>

        </br>

        </br>
        </br>
        </br>

        
        <a href="/mypage/edit"> 수정하기 </a>




<% include ./footer.ejs %>