<% include ./header.ejs %>
    <table class="table table-bordered table-hover">
        <tr>
            <th>내 이름</th>
            <th>삭제</th>
        </tr>
        <tr>
        


    </table>


<% include ./footer.ejs %>